* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main{
    min-height: 100vh;
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(to left , rgba(18, 181, 53, 0.5), rgba(0, 149, 255, 0.5));
    /* linear-gradient crea un degradado lineal, e to left es para especificar
    la dirección del degradado */
}
section{
    padding: 2rem 0;
}

.contenedor {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    position: relative;
}

.puntuacion-cont{
  display: flex;
  justify-content: space-between;
  padding: 2rem 1rem;
  border: 3px solid #eee;
  border-radius: 5px;
  align-items: center;;
}

.empezar-boton{
    background-color: #641aa5;
    color: #eee;
    border-radius: 5px;
    padding: 1rem 2rem;
    border: 0;
    cursor: pointer;
    font-family: 'DynaPuff', cursive;
    font-size: 1.5rem;
    transition: 0.3s all;
}

.empezar-boton:hover{
    background-color: #9b33f6;
    /*:hover se utiliza para aplicar estilos a un elemento cuando el usuario
     pasa el cursor sobre él*/
}

.tabla-puntuacion {
    display: flex;
    gap: 4rem;
    /* Establece un espacio de 4rem entre los elementos flexibles */
}

.elemento__tabla-puntuacion{
    display:flex;
    gap: 2rem;
    font-size: 1.25rem;
    color: #eee;
}

.tabla {
    display: grid; /* Establece un grid (comportamiento de cuadrícula) */
    grid-template-columns: repeat(4, auto); 
    /*4 columnas que se ajustan automaticamente al espacio que hay*/
    grid-gap: 2rem; /* Establece un espacio de 2rem entre los elementos del grid */
    padding: 2rem 1rem;
    border:3px solid #eee;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),0 4px 6px -4px rgba(0, 0, 0, 0.1);
    position: relative;
    min-height: 770px;
}

.casilla {
    position: relative;
    cursor: pointer; /*se utiliza para cambiar la apariencia del cursor cuando está sobre un elemento interactivo*/
    width: auto;
    height: 150px;
    border-radius: 5px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -4px rgba(0, 0, 0, 0.1);
    /*-webkit- se usa para navegadores que utilizan el motor de renderizado WebKit (como Google Chrome y Safari)*/
    -webkit-animation: bounce-in-fwd 1.1s both;
    animation: bounce-in-fwd 1.1s both;
    /*se utiliza para proporcionar un efecto de rebote al elemento al entrar en la pantalla*/
    /*el both se utiliza para que sea tanto al principio como al final del estado*/
}

/* DAR LA VUELTA A LA CASILLA */
.casilla__frente,.casilla__vuelta {
    position: absolute;
    border-radius: 5px;
    width:100%;
    height:100%;
    background: linear-gradient(to right, #96deda, #50c9c3);
    transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
    backface-visibility: hidden;
    /*backface-visibility: hidden; se utiliza para que no se vea la parte de atrás de la casilla*/
}
.casilla__vuelta {
    display: grid;
    place-items: center;
    font-size: 2rem;
    text-align: center;
    line-height: 100px;
    background-color: #006c66;
    transform: rotateY(180deg) rotateZ(50deg);
    user-select: none;
    /*user-select: none; se utiliza para que el usuario no pueda seleccionar el texto*/
}

.casilla.girada .casilla__frente {
    transform: rotateY(180deg) rotateZ(50deg);
}

.casilla.girada .casilla__vuelta {
    transform: rotateY(0deg) rotateZ(0);
}

.match {
    -webkit-animation: blink-1 1s both;
    animation: blink-1 1s both;
    /*se utiliza para proporcionar un efecto de parpadeo al elemento*/
    animation-delay: 0.5s;
}

.finalizar-visualizacion {
    background-color: rgb(27, 27, 133);
    position: absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    z-index:100;
    display:grid;
    place-content: center;
    padding:2rem;
}


/* ANIMACIONES */


/* Blinking effect animation */
@-webkit-keyframes blink-1 {
    0%, 50%, 100% {
      opacity: 1; /* fully visible */
    }
    25%, 75% {
      opacity: 0; /* fully transparent */
    }
  }
  
  @keyframes blink-1 {
    0%, 50%, 100% {
      opacity: 1; /* fully visible */
    }
    25%, 75% {
      opacity: 0; /* fully transparent */
    }
  }
  
  /* Bouncing-in effect animation */
  @-webkit-keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0; /* invisible */
    }
    38% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1; /* fully visible */
    }
    55% {
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
      transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  
  @keyframes bounce-in-fwd {
    0% {
      -webkit-transform: scale(0);
      transform: scale(0);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
      opacity: 0; /* invisible */
    }
    38% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
      opacity: 1; /* fully visible */
    }
    55% {
      -webkit-transform: scale(0.7);
      transform: scale(0.7);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    72% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    81% {
      -webkit-transform: scale(0.84);
      transform: scale(0.84);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    89% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
    95% {
      -webkit-transform: scale(0.95);
      transform: scale(0.95);
      -webkit-animation-timing-function: ease-in;
      animation-timing-function: ease-in;
    }
    100% {
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-timing-function: ease-out;
      animation-timing-function: ease-out;
    }
  }
  